{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <h1>Detalles</h1>
    <div class="product-details">
        <p><strong>Codigo:</strong> {{ product.sku }}</p>
        <p><strong>Nombre:</strong> {{ product.name }}</p>
        <p><strong>Descripcion:</strong> {{ product.description }}</p>
        <p><strong>Precio unitario:</strong> ${{ product.price }}</p>
        <p><strong>Cantidad disponible:</strong> {{ product.stock_quantity }}</p>
        <p><strong>Peso:</strong> {% if product.weight %}{{ product.weight }}Kg.{% else %} -- {% endif %}</p>
        <p><strong>Disponibilidad:</strong> {{ "Si" if product.is_available else "No" }}</p>
    </div>
    <div class="d-flex flex-row">
        <div class="me-2">
            <a href="/products" class="btn btn-secondary">Regresar a lista</a>
        </div>
        {% if user.is_admin %}
            <div class="me-2">
                <a href="/products/{{ product.product_id }}/update" class="btn btn-warning">Editar</a>
            </div>
        {% endif %}

        {% if user.is_super%}
            <div class="me-2">
                <form action="/products/{{ product.product_id }}/delete" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <button type="submit" onclick="return confirm('Seguro que desea eliminar el producto?');" class="btn btn-danger">Borrar</button>
                </form>
            </div>
        {% endif %}
    </div>

{% endblock %}

