{% extends 'base.html' %}
{% block title %}nuevo producto{% endblock %}

{% block content %}
    <h1>Nuevo producto</h1>
    <div class="w-25">
        <form action="/products" method="post">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <label for="sku" class="form-label">SKU:</label>
            <input type="text" id="sku" name="sku" class="form-control" required autofocus>

            <label for="name" class="form-label">Nombre:</label>
            <input type="text" id="name" name="name" class="form-control" required autofocus>

            <label for="description" class="form-label">Descripcion:</label>
            <input type="text" id="description" name="description" class="form-control" required>

            <label for="price" class="form-label">Precio:</label>
            <input type="text" id="price" name="price" class="form-control" required>

            <label for="stock_quantity" class="form-label">Cantidad:</label>
            <input type="text" id="stock_quantity" name="stock_quantity" class="form-control" required>

            <label for="weight" class="form-label">Peso:</label>
            <input type="text" id="weight" name="weight" class="form-control">


            <label for="is_available" class="form-label">Disponibilidad:</label>
            <select id="is_available" name="is_available" class="form-control">
                <option value="true">Sí</option>
                <option value="false" selected>No</option>
            </select>

            <div class="d-flex flex-row align-items-center mt-2">
                <div class="me-2">
                    <input type="submit" value="Agregar" class="btn btn-primary">
                </div>
                <div>
                    <a href="/products" class="btn btn-secondary">Regresar a lista</a>
                </div>

            </div>
        </form>
    </div>
{% endblock %}