{% if products %}
    <table border="2">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="/product/{{ product.product_id }}">{{ product.name }}</a></td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock_quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h1>No results</h1>
{% endif %}
