{% extends 'base.html' %}
{% block title %}Editar {{ product.name }}{% endblock %}

{% block content %}
    <h1>Detalles</h1>
    <div class="product-details w-50">
        <form action="/products/{{ product.product_id }}/update" method="post">
            <label for="name" class="form-label">Nombre:</label>
            <input type="text" id="name" name="name" class="form-control" value="{{ product.name }}">

            <label for="description" class="form-label">Descripcion:</label>
            <input type="text" id="description" name="description" class="form-control" value="{{ product.description }}">

            <label for="price" class="form-label">Precio:</label>
            <input type="text" id="price" name="price" class="form-control" value="{{ product.price }}">

            <label for="stock_quantity" class="form-label">Cantidad disponible:</label>
            <input type="text" id="stock_quantity" name="stock_quantity" class="form-control" value="{{ product.stock_quantity }}" autofocus>

            <input type="submit" value="Confirmar" class="mt-2 btn btn-primary">
        </form>
    </div>
    <div class="d-flex flex-row">
        <div class="mt-2">
            <a href="/products/{{ product.product_id }}" class="btn btn-secondary">Regresar a detalle</a>
        </div>
    </div>

{% endblock %}
